colorlog==6.8.2
flit_core @ file:///tmp/jenkins/build/Python/3.11.3/GCCcore-12.3.0/flit_core/flit_core-3.9.0
packaging @ file:///tmp/jenkins/build/Python/3.11.3/GCCcore-12.3.0/packaging/packaging-23.1
setuptools-scm @ file:///tmp/jenkins/build/Python/3.11.3/GCCcore-12.3.0/setuptools_scm/setuptools_scm-7.1.0
tomli @ file:///tmp/jenkins/build/Python/3.11.3/GCCcore-12.3.0/tomli/tomli-2.0.1
typing_extensions @ file:///tmp/jenkins/build/Python/3.11.3/GCCcore-12.3.0/typing_extensions/typing_extensions-4.6.3
